<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wechat000</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat000</string>
		<key>name</key>
		<string>Amy</string>
		<key>profilePhoto</key>
		<string>contact0</string>
	</dict>
	<key>wechat001</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat001</string>
		<key>name</key>
		<string>Ann</string>
		<key>profilePhoto</key>
		<string>contact1</string>
	</dict>
	<key>wechat002</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat002</string>
		<key>name</key>
		<string>Bosh</string>
		<key>profilePhoto</key>
		<string>contact2</string>
	</dict>
	<key>wechat003</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat003</string>
		<key>name</key>
		<string>Chris</string>
		<key>profilePhoto</key>
		<string>contact3</string>
	</dict>
	<key>wechat004</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat004</string>
		<key>name</key>
		<string>Grace</string>
		<key>profilePhoto</key>
		<string>contact4</string>
	</dict>
	<key>wechat005</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat005</string>
		<key>name</key>
		<string>Garnett</string>
		<key>profilePhoto</key>
		<string>contact5</string>
	</dict>
	<key>wechat006</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat006</string>
		<key>name</key>
		<string>Jason</string>
		<key>profilePhoto</key>
		<string>contact6</string>
	</dict>
	<key>wechat007</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat007</string>
		<key>name</key>
		<string>Wash</string>
		<key>profilePhoto</key>
		<string>contact7</string>
	</dict>
	<key>wechat008</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat008</string>
		<key>name</key>
		<string>Wallace</string>
		<key>profilePhoto</key>
		<string>contact8</string>
	</dict>
	<key>wechat009</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat009</string>
		<key>name</key>
		<string>Well</string>
		<key>profilePhoto</key>
		<string>contact9</string>
	</dict>
	<key>wechat010</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat010</string>
		<key>name</key>
		<string>Jefferson</string>
		<key>profilePhoto</key>
		<string>contact10</string>
	</dict>
	<key>wechat011</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat011</string>
		<key>name</key>
		<string>Rice</string>
		<key>profilePhoto</key>
		<string>contact11</string>
	</dict>
	<key>wechat012</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat012</string>
		<key>name</key>
		<string>Mike</string>
		<key>profilePhoto</key>
		<string>contact12</string>
	</dict>
	<key>wechat013</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat013</string>
		<key>name</key>
		<string>Zed</string>
		<key>profilePhoto</key>
		<string>contact13</string>
	</dict>
	<key>wechat014</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat014</string>
		<key>name</key>
		<string>Paker</string>
		<key>profilePhoto</key>
		<string>contact14</string>
	</dict>
	<key>wechat015</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat015</string>
		<key>name</key>
		<string>Tommas</string>
		<key>profilePhoto</key>
		<string>contact15</string>
	</dict>
	<key>wechat016</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat016</string>
		<key>name</key>
		<string>David</string>
		<key>profilePhoto</key>
		<string>contact16</string>
	</dict>
	<key>wechat017</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat017</string>
		<key>name</key>
		<string>Ninn</string>
		<key>profilePhoto</key>
		<string>contact17</string>
	</dict>
	<key>wechat018</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat018</string>
		<key>name</key>
		<string>Valira</string>
		<key>profilePhoto</key>
		<string>contact18</string>
	</dict>
	<key>wechat019</key>
	<dict>
		<key>wechatAccount</key>
		<string>wechat019</string>
		<key>name</key>
		<string>Nancy</string>
		<key>profilePhoto</key>
		<string>contact19</string>
	</dict>
</dict>
</plist>
