<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>photos</key>
		<array>
			<string>photo0</string>
			<string>photo1</string>
			<string>photo2</string>
			<string>photo3</string>
		</array>
		<key>publishedTime</key>
		<string></string>
		<key>comments</key>
		<string></string>
		<key>contactAccount</key>
		<string>wechat001</string>
		<key>content</key>
		<string>What a nice day!!!</string>
		<key>likeList</key>
		<string></string>
	</dict>
	<dict>
		<key>photos</key>
		<array/>
		<key>publishedTime</key>
		<string></string>
		<key>comments</key>
		<string></string>
		<key>contactAccount</key>
		<string>wechat003</string>
		<key>content</key>
		<string>This article summarizes the key developer-related features introduced in iOS 9.3, which runs on currently shipping iOS devices. The article also lists the documents that describe new features in more detail.</string>
		<key>likeList</key>
		<string></string>
	</dict>
	<dict>
		<key>photos</key>
		<array>
			<string>photo12</string>
			<string>photo13</string>
		</array>
		<key>publishedTime</key>
		<string></string>
		<key>comments</key>
		<string></string>
		<key>contactAccount</key>
		<string>wechat009</string>
		<key>content</key>
		<string>旅行😄</string>
		<key>likeList</key>
		<string></string>
	</dict>
	<dict>
		<key>photos</key>
		<array>
			<string>photo15</string>
		</array>
		<key>publishedTime</key>
		<string></string>
		<key>comments</key>
		<string></string>
		<key>contactAccount</key>
		<string>wechat006</string>
		<key>content</key>
		<string>这是一条朋友圈</string>
		<key>likeList</key>
		<string></string>
	</dict>
	<dict>
		<key>photos</key>
		<array>
			<string>photo5</string>
			<string>photo1</string>
			<string>photo20</string>
			<string>photo8</string>
			<string>photo18</string>
			<string>photo16</string>
		</array>
		<key>publishedTime</key>
		<string></string>
		<key>comments</key>
		<string></string>
		<key>contactAccount</key>
		<string>wechat010</string>
		<key>content</key>
		<string>分享这些照片～</string>
		<key>likeList</key>
		<string></string>
	</dict>
	<dict>
		<key>photos</key>
		<array/>
		<key>publishedTime</key>
		<string></string>
		<key>comments</key>
		<string></string>
		<key>contactAccount</key>
		<string>wechat000</string>
		<key>content</key>
		<string>Tsinghua University was listed as one of the world&apos;s 20 best schools--a first for China--in a prestigious international ranking that was released recently.</string>
		<key>likeList</key>
		<string></string>
	</dict>
	<dict>
		<key>photos</key>
		<array/>
		<key>publishedTime</key>
		<string></string>
		<key>comments</key>
		<string></string>
		<key>contactAccount</key>
		<string>wechat013</string>
		<key>content</key>
		<string>New methods in the Media Player and StoreKit frameworks let you add an Apple Music track to the music library and play it. First, use the SKCloudServiceController API to determine the current capabilities, such as if the device allows playback of Apple Music catalog tracks and the addition of tracks to the library. Then, you can use theMPMediaLibrary method addItemWithProductID:completionHandler: to add a track to the library and the MPMusicPlayerController method setQueueWithStoreIDs: to play a track.</string>
		<key>likeList</key>
		<string></string>
	</dict>
	<dict>
		<key>photos</key>
		<array>
			<string>photo19</string>
			<string>photo12</string>
			<string>photo14</string>
		</array>
		<key>publishedTime</key>
		<string></string>
		<key>comments</key>
		<string></string>
		<key>contactAccount</key>
		<string>wechat009</string>
		<key>content</key>
		<string></string>
		<key>likeList</key>
		<string></string>
	</dict>
	<dict>
		<key>photos</key>
		<array>
			<string>photo16</string>
			<string>photo11</string>
			<string>photo3</string>
			<string>photo15</string>
			<string>photo10</string>
			<string>photo21</string>
		</array>
		<key>publishedTime</key>
		<string></string>
		<key>comments</key>
		<string></string>
		<key>contactAccount</key>
		<string>wechat018</string>
		<key>content</key>
		<string>New methods in the Media Player and StoreKit frameworks let you add an Apple Music track to the music library and play it. First, use the SKCloudServiceController API to determine the current capabilities, such as if the device allows playback of Apple Music catalog tracks and the addition of tracks to the library. Then, you can use theMPMediaLibrary method addItemWithProductID:completionHandler: to add a track to the library and the MPMusicPlayerController method setQueueWithStoreIDs: to play a track.
</string>
		<key>likeList</key>
		<string></string>
	</dict>
	<dict>
		<key>photos</key>
		<array>
			<string>photo29</string>
			<string>photo25</string>
			<string>photo27</string>
		</array>
		<key>publishedTime</key>
		<string></string>
		<key>comments</key>
		<string></string>
		<key>contactAccount</key>
		<string>wechat000</string>
		<key>content</key>
		<string>😝😝😝</string>
		<key>likeList</key>
		<string></string>
	</dict>
</array>
</plist>
